#companies {
    .company-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: none;
    }
    .company-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 10px;
        list-style: none;
        
    }

    .company-card{
    width: 22%;
    min-width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: aliceblue;
    }
    .company-card:hover {
        transform: scale(1.05);
    }
    .card-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: 200px;
        
    }
    .card-content h3{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .card-content p{
        font-size: 14px;
        margin-bottom: 10px;
        max-height: 40px;
    }
    .card-content button{
        width: 100%;
        height: 40px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
}
/**/
#company-details .company-details {
    margin-left: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #ddd;

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .description {
        flex-grow: 1;
        margin-left: 20px;
    }

    .be-cofounder {
        align-self: flex-end;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}


#company-details #products-section {
    padding: 20px;
    border-bottom: 2px solid #ddd;
    transition: all 0.3s ease;
    .product-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .products {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 10px;
        list-style: none;
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
    }
    .product-card {
        margin-right: 40px;
        min-width: 300px;
        height: 400px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: aliceblue;
    }    
    .product-card:hover {
        transform: scale(1.05);
    }
    .card-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: 200px;
        
    }
    .card-content h3{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .card-content p{
        font-size: 14px;
        margin-bottom: 10px;
        max-height: 40px;
        text-wrap: wrap;
        overflow: hidden;
        line-clamp: 2;
    }
    .card-content button{
        width: 100%;
        height: 40px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }
}  
