/* start global rules */
:root {
  --section-bg: #111827;
  --text-color: #9ca3af;
  /* --heading-color: #f9fafb; */
  --inactive-button: #8b5cf6;
  --active-button: #6d28d9;
  --button-text-color: #f9fafb;
  --alert-text-color: #111827;
  --alert-success-bg: #34d399;
  --alert-warning-bg: #fbbf24;
  --alert-error-bg: #f87171;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato, sans-serif;
  background-color: var(--section-bg);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: Poppins, sans-serif;
  color: var(--heading-color);
}

img {
  max-width: 200px;
}

a {
  color: var(--button-text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-btn {
  background-color: var(--inactive-button);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--active-button);
}

.success,
.warning,
.error {
  color: var(--alert-text-color);
}

.success {
  background-color: var(--alert-success-bg);
}

.warning {
  background-color: var(--alert-warning-bg);
}

.error {
  background-color: var(--alert-error-bg);
}
/* end global rules */
/* start header  */
header {
  box-shadow: 0px 0px 5px var(--inactive-button);
}
header #header-left {
}
header #header-left img {
  width: 150px;
  border-radius: 10px;
}
header #header-mid {
}
header #header-mid ul {
  padding: 0px;
  margin: 0px;
}
header #header-mid ul li {
}
header #header-mid ul li a {
}
header #header-righy {
}
header #header-righy .btn {
}
header #header-righy .secondary-btn {
  border: 1px solid var(--inactive-button);
}

/* end header  */
